<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Read polarized news to form your own opinion!">
  <meta name="author" content="Dennis Ren & Cameron Flannery">
  <meta property="og:title" content="Polarize.news"/>
  <meta property="og:url" content="http://Polarize.news" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Read polarized news to form your own opinion!"/>
  <meta property="og:image" content="http://dennisren.com/static/images/ogimage.jpg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <meta property="og:image:alt" content="Hey we don't look so bad in this picture" />
  <link rel="icon" type="image/png" href="static/images/drlogo.png" />
  <title>Polarize.news</title>

  <!--Import Google Icon Font -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="{% static "css/home.css" %}" rel="stylesheet">
</head>

<body>

  <h1 class="test">hello world from polarize</h1>


  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{% static "js/home.js" %}"></script>
</body>
